body {
  background-image: url("../images/grid.png");
  background-size: cover;
  background-position: center;
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-family: "inter tight";
  font-weight: 600;
  font-size: 40pt;
  color: #0a2540;
}

h2 {
  font-family: "ibm plex mono";
  font-weight: 500;
  font-size: 24pt;
  color: #0a2540;
  text-align: left;
}

h3 {
  font-weight: 600;
  font-family: "inter tight";
  color: #0a2540;
}

article h3 {
  font-weight: 400;
  font-size: 12pt;
  font-family: "inter tight";
  color: #0a2540;
}

time {
  font-family: "ibm plex mono";
  color: #0a2540;
  font-size: 12pt;
}

p {
  font-family: "inter tight";
  font-weight: 400;
  font-size: 12pt;
  color: #0a2540;
  padding-top: 10px;
  line-height: 21pt;
  width: auto;
}

#banner {
  width: 1100px;
  height: 250px;
  margin: auto;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.headings h2 {
  font-size: 16pt;
  text-align: left;
}

.bannerimages {
  padding: 0 40px 0 0;
}

.main {
  max-width: 1200px;
  min-width: 800px;
  width: 100%;
  margin: 0px auto;
  padding: 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 200px 80px;
}

.column {
  width: 70%;
  margin: 25px 0;
}

article {
  padding: 10px 40px;
  background-color: #ffffff70;
  border-radius: 10px;
  filter: blur(0px);
  backdrop-filter: blur(2px);
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 30px 45px -30px rgba(50, 50, 93, 0.25);
  border: 1px solid rgba(149, 149, 222, 0.1);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-25px);
  }
}

#cursor {
  animation: bounce 2s infinite;
  height: 100px;
  margin-bottom: -40px;
  margin-left: -20px;
}

#lightbulb {
  animation: bounce 2s infinite;
  animation-delay: 0.5s;
  height: 100px;
  margin-bottom: -40px;
  margin-left: -20px;
}

#pen {
  animation: bounce 2s infinite;
  animation-delay: 1s;
  height: 100px;
  margin-bottom: -40px;
  margin-left: -20px;
}

footer {
  text-align: center;
  padding: 40px 0 80px;
  font-family: "inter tight";
}

figure {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure img {
  display: block;
  padding: 8px;
  border-radius: 15px;
}

figcaption {
  font-weight: 600;
  font-family: "inter tight";
  color: #0a2540;
  font-style: italic;
  padding: 8px;
  text-align: center;
  display: block;
}

.visualimages {
  padding-top: 48px;
}
